{
  "mongoURI": "",
  "jwtSecret": "",
  "jwtOptions": { "expiresIn": 360000 },
  "defaultProfileFields": {
    "bio": "Hey there I'm using Budget Bucket!"
  },
  "signedInToken": "",
  "api": {
    "substance": {
      "url": "",
      "endpoint": ""
    }
  },
  "app": {
    "serverPort": 3001
  }
}
